@media (min-width:760px) {
    .heroimg {
        height: 500px;
        width: 100%;
    }
    #partners {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow-x: scroll;
    }
    .partners-img {
        height: 150px;
        width: 200px;
    }
}

@media (max-width:760px) {
    .heroimg {
        height: 600px;
        width: 100%;
    }
    .hidden {
        display: none;
    }
    #partners {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow-x: scroll;
        height: 120px;
    }
    .partners-img {
        height: 100px;
        width: 200px;
    }
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(160, 32, 240);
    border-radius: 1000px;
    color: #fafafa;
    width: 50px;
    height: 50px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, .5);
    padding: 5px;
}

.herobtn {
    margin-top: 15px;
    margin-bottom: 15px;
}

.round {
    border-radius: 50px;
}