body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.primary-bg {
    background-color: #A020F0;
}

.primary-text {
    color: rgb(160, 32, 240);
}

.shadow {
    box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -1px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.hr {
    width: 100px;
    background-color: #A020F0;
    height: 4px;
}